.internal-layout {
    @include position__top__left (fixed, 0px, 0px, 100%, 100vh, 3);
    background: $white;
    opacity: 0;
    visibility: hidden;
    @include cursor__transition;
}

.internal-header {
    @include flex__center;
    border-bottom: 1px solid $border;

    a,
    button {
        i {
            font-size: 22px;
            @include center__content(60px, 60px, 60px, 0px);
        }
    }

    input {
        width: 100%;
        height: 60px;
    }

    h3 {
        width: 100%;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-transform: uppercase;
    }
}

.internal-blank {
    @include position__top__left (absolute, 50%, 0, 100%, auto, -1);
    @include flex__center;
    flex-direction: column;
    transform: translateY(-50%);

    i {
        color: $arrow;
        font-size: 100px;
        margin-bottom: 5px;
    }

    span {
        color: $arrow;
        text-transform: capitalize;
    }
}

.internal-scroll {
    padding: 20px 0px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

// internal list
.internal-list {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid $border;

    li {
        @include flex__center__between;
        margin: 20px 0px;

        h4 {
            text-transform: capitalize;
            margin-bottom: 10px;
            font-size: 15px;
        }

        label {
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
            
            span {
                color: $arrow;
                margin-left: 5px;
            }
        }

        input {
            width: 18px;
            height: 18px;
        }
    }
}

