
// BANNER PART
.banner {
    .container {
        padding: 0px;
    }
}

@media (max-width: 991px) {
    .banner {
        .container {
            padding: 10px;
        }
    }
}

// PRODUCT PART STYLE
.product {
    margin-bottom: 100px;
}

.product-category-header {
    padding: 15px 0px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    @include flex__center__between;

    h3 {
        font-size: 20px;
        text-transform: capitalize;
    }

    i {
        cursor: pointer;
        @include cursor__transition;

        &:hover {
            color: $primary;
        }
    }
}

.product-category-card {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}


@media (max-width: 500px) {
    .product-category-header {
        h3 {
            font-size: 16px;
        }
    }

    .product-category-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .product-category-card {
        grid-template-columns: repeat(1, 1fr);
    }
}


// PRODUCT CATEGORY
.product-category-slider {
    width: 100%;
    padding: 25px 15px;
    border-radius: 6px;
    background: $white;

    li {
        margin: 0px 30px;
    }
}

@media (max-width: 991px) {
    .product-category-slider {
        li {
            margin: 0px 20px;
        }
    }
}