//========================================
//          ALL DECLARE VARIABLE
//========================================
// FONT FAMILY
$primary-family: 'Rubik', sans-serif;


// COLOR
$red: #d81111;
$aqua: #5ECFFF;
$gray: #f0f0f0;
$pink: #E328AF;
$green: #0a9c11;
$white: #ffffff;


$body: #f9f9f9;
$text: #555555;
$border: #dddddd;
$arrow: #c2c2c2;
$heading: #202020;
$sub-heading: #c7c7c7;
$placeholder: #aaaaaa;

$primary: #fc8019;

// SOCIAL COLOR
$facebook: #3b5998;
$linkedin: #0e76a8;
$twitter: #00acee;
$google: #E60023;
$instagram: #F77737;

// BOX SHADOW
$primary-bshadow: 0px 4px 4px rgba(0, 0, 0, 0.04);

// TEXT SHADOW
$primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
